<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>finnursig.com</title>

  <% if(env === 'production') { %>
    <% assets.filter(asset => asset.name.indexOf('css') > 0).forEach(asset => { %>
      <link rel="stylesheet" type="text/css" href="/<%= asset.name %>" />
    <%}) %>
  <% } %>
</head>
<body>

<div id="root"><%- html %></div>

<% if(env === 'development') { %>
<script src="http://localhost:8080/webpack-dev-server.js"></script>
<script src="http://localhost:8080/static/client.js"></script>
<% } else { %>
  <% assets.filter(asset => asset.name.indexOf('js') > 0).forEach(asset => { %>
    <script src="/<%= asset.name %>"></scripts>
  <%}) %>
<% } %>

</body>
</html>
